alias g='git'
alias l='ls -lFh'
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias c='pygmentize -O style=monokai -f console256 -g'
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias dig='dig +nocmd any +multiline +noall +answer'
alias dsstore="find . -name '*.DS_Store' -type f -ls -delete"
alias diskspace="df -P -kHl"

alias repos='ghq list -p | peco'
alias repo='cd $(repos)'
alias github='gh-open $(repos)'
alias reload='exec -l $SHELL'
alias tower='open -a Tower $1'
alias sublime='open -a Sublime\ Text $1'
alias vscode='open -a Visual\ Studio\ Code $1'
alias atom='open -a Atom $1 $1'
