alias g='git'
alias l='ls -lFh'
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias dig='dig +nocmd any +multiline +noall +answer'
alias dsstore="find . -name '*.DS_Store' -type f -ls -delete"
alias diskspace="df -P -kHl"

alias repos='ghq list -p | fzf'
alias repo='cd $(repos)'
alias github='gh-open $(repos)'
alias reload='exec -l $SHELL'
alias fork='open -a Fork $1'
alias vscode='open -a Visual\ Studio\ Code $1'