#!/bin/sh
update() {
  brew update
  brew upgrade
  antigen update
}

cleanup() {
  brew cleanup -s
  antigen cleanup
}

trash() {
  mv "$1" "$HOME/.Trash/"
}

compare() {
  echo "original size (bytes): $(cat "$1" | wc -c)"
  echo "    gzip size (bytes): $(gzip -c "$1" | wc -c)"
  echo "  zopfli size (bytes): $(zopfli -c "$1" | wc -c)"
  echo "  brotli size (bytes): $(bro --input "$1" | wc -c)"
}
