[user]
  name = 1000ch
  email = shogo.sensui@gmail.com
[core]
  excludesfile = ~/.gitignore
  deltaBaseCacheLimit = 1G
  editor = vim
[commit]
  verbose = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[rerere]
  enabled = true
  autoupdate = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[mergetool]
  keepBackup = true
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = always
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[filter "lfs"]
  required = true
  smudge = git-lfs smudge -- %f
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
[ghq]
  root = ~/workspace
